.image-member-list {
  float: left;
  padding: 10px;
  margin: 10px;
  width: 17%;
  height: 17%;
}

.image-member-list:hover {
  float: left;
  padding: 10px;
  margin: 10px;
  width: 17%;
  height: 17%;
  /*background-color:#000;*/
  opacity:0.5;
}
.member-block {
  display: inline-block;
}